* {padding:0;margin:0;box-sizing:border-box;}
html, body {height:100%;}
body {font:24px/1.5 'Cinzel', 'PMingLiU', 'STSong', 'Times New Roman', sans-serif;color:#3f3f3f;background-color:#222;}
ul, li {list-style:none;}
a {color:#ffe597;text-decoration:none;}
a:hover, a.active {border-bottom:3px solid #ffe597;}

.full-height {height:100%;}
.full-width {width:100%;}
.flex-v-center {align-items:center;}
.floatL {float:left;}
.taC {text-align:center;}
.taR {text-align:right;}
.font-big {color:#eee;}
.font-mid {font-size:30px;}

.header {width:100%;line-height:80px;background-color:#2c2c2c;padding:10px 30px 0;position:fixed;top:0;left:0;z-index:2;}
.logo {color:#fff;font-size:48px;}
.nav a {margin-left:30px;margin-bottom:-10px;}
.aboutMe, .caseIntro {width:75%;margin:0 auto;display:flex;justify-content:space-between;flex-direction:row;flex-wrap:wrap;}
.aboutMe {color:#eee;}
.about {line-height:1.5;}
.about a {font-size:0.6em;border-bottom:1px solid #ffe597;}
.caseIntro {align-items:flex-start;}
.main-box {margin:15px 15px 30px;flex:0 0 30%;position:relative;display:flex;justify-content:space-between;}
.main-box:hover {cursor:pointer;}
.main-box.first_level {background-repeat:no-repeat;background-position:center;}
.main-box.first_level:hover {box-shadow:0 0 0 3px #fff inset;}
.main-box.first_level .pic {width:100%;height:165px;background:rgba(0,0,0,0.2);}
.main-box.first_level:hover .pic {background:rgba(0,0,0,0.9);transition:all 0.5s ease;}
.main-box.first_level[data-catalog="0"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/ig-001Site.jpg);} /*網頁 - 公司產品*/
.main-box.first_level[data-catalog="1"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/ktc-001SiteCoolbitx.jpg);} /*網頁 - 官方網站*/
.main-box.first_level[data-catalog="2"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/yd-002Event.jpg);} /*網頁 - 活動網站*/
.main-box.first_level[data-catalog="3"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/wl-001Star.jpg);} /*設計 - 廣告橫幅*/
.main-box.first_level[data-catalog="4"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/wl-005Edm.jpg);} /*設計 - 電子報*/
.main-box.first_level[data-catalog="5"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/fl-001Site.jpg);} /*設計 - 識別系統*/
.main-box.first_level[data-catalog="6"] {background-image:url(https://tzuchienkao.github.io/aboutMe/img/smallImg/ktc-003.jpg);} /*設計 - 印刷物 */
.main-box p {width:100%;color:#ffe597;opacity:0;position:absolute;display:inline;}
.main-box:hover p {opacity:1;transition:all 0.5s ease;}
.main-box.second_level .pic {width:100%;height:220px;background-size:100%;background-repeat:no-repeat;background-position:center center;overflow:hidden;}
.main-box.second_level:hover .pic {background-size:105%;transition:all 0.5s linear;}
.main-box.second_level:hover:before {width:100%;height:100%;background:rgba(0,0,0,0.8);content:'';display:block;position:absolute;}
.main-box.second_level:after {font-size:0.5em;color:#3f3f3f;background-color:#eee;padding:3px 5px;position:absolute;top:-3px;left:-3px;display:block;content:attr(data-subject);}

.project a:not(.btn-close) {background-color:#3f3f3f;padding:3px 5px;margin:0 3px;}
.caseInner {width:100%;height:100%;background-color:rgba(255,255,255,1);padding:0 15% 10%;position:fixed;left:0;top:0;z-index:9;overflow-y:auto;display:none;}
.caseInner img {width:100%;}
.when {font-size:0.6em;}
.txtList {font-size:0.8em;text-align:left;border-top:1px dashed #3f3f3f;padding:10px;margin-top:10px;}
.txtList li {list-style:disc outside;margin-left:16px;}
.main-pic {padding:5%;}
.sub-pic {display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;}
.sub-pic li {flex:0 0 33%;padding:10px;}
.body-fixed {height:100%;overflow-y:hidden;-webkit-overflow-scrolling:touch;}
.btn-close, .btn_goBack {font-size:60px;line-height:1;text-align:right;color:#3f3f3f;display:block;}
.btn_goBack {text-align:left;margin:-60px 10% 30px;}
.btn-close:hover, .btn_goBack:hover {margin-top:-3px;}
.btn_goBack:hover {margin-top:-63px;}

.footer {font-size:0.5em;line-height:40px;position:fixed;bottom:5%;right:5%;}
.techBox {float:right;}
.techBox .logo {height:40px;background-image:url(https://tzuchienkao.github.io/aboutMe/img/icon.png);background-repeat:no-repeat;float:left;transform:scale(0.8);}
.techBox #icon01 {width:29px;background-position:0 0;}
.techBox #icon01:hover {background-position:0 -40px}
.techBox #icon02 {width:29px;background-position:-33px 0;}
.techBox #icon02:hover {background-position:-33px -40px;}
.techBox #icon03 {width:118px;background-position:-62px 0;}
.techBox #icon03:hover {background-position:-62px -40px;}
.techBox #icon04 {width:35px;background-position:-180px 0;}
.techBox #icon04:hover {background-position:-180px -40px;}
.techBox #icon05 {width:33px;background-position:-215px 0;}
.techBox #icon05:hover {background-position:-215px -40px;}

@media screen and (max-width:768px) {
  .header {line-height:2;padding:10px 5% 0;}
  .nav a {margin-left:30px;margin-bottom:-10px;}
  .aboutMe, .caseIntro {width:90%;margin:0 auto;}
  .main-box, .sub-pic li {flex:0 0 100%;flex-wrap:nowrap;}
  .caseInner {padding:2% 5%;}
  .project dl {height:80vh;overflow-y:scroll;}
}
